name: Build and Deploy GitHub Pages

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2

            - name: Use Node.js 13
              uses: actions/setup-node@v1
              with:
                  node-version: 13

            - name: Build
              run: |
                  yarn
                  yarn build
              env:
                  CI: true

            - name: Deploy GitHub Pages
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./dist
